<!-- General body of the pages -->

<nav>
    <div class="site-title">
        <a href="/"><h1>Doron's recent Blogs:</h1></a>
        <p>By Doron Czarny</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">Post a new Blog</a></li>
    </ul>
</nav>